.preferenceForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
}

.formSubmit {
    margin-top: 1.5rem;
    background-color: #646cffaa;
}

.formSubmit:hover {
    background-color: #d0d3ff; 
}
